 @media screen and (max-width: 1200px) {
    .little-searchbar{
        display: block;
        padding-top: 4px;
    padding-left: 6px;
    }

    .search-bar{
        display: none;
    }
}

@media screen and (max-width: 1100px) {

.left-sidebar{
    display: none;
}

    .container .row .right-section .icn .plus-icon{
        display: block;
    }

    .container .row .right-section .icn .menu-icon{
        display: none;
    }
    }


@media screen and (max-width: 700px) {
.icons{
    display: none;
}
}

@media screen and (max-width: 900px) {
    .right-section-bar{
        display: none;
    }
}





 






  